
@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=League+Spartan:wght@100..900&family=Orbitron:wght@400..900&family=Teko:wght@300..700&family=WDXL+Lubrifont+TC&display=swap');
body{
    font-family: "League Spartan";
    background-image: url('image5.png');
    background-repeat: no-repeat;
}
.header{
    display: flex;
    color: red;
    justify-content: right;
}
body{
    background-color: black;
}
p{
    color: red;
    
}
button{
    color: red;
    background-color: black;
    margin: 10px 60px 10px 10px;
    border: none;
    font-family: "League Spartan";
}
.img1{
width: 600px;
margin-top: -50px;
margin-left: -20px;
}
.text{
    align-self: flex-end;
    width: 300px;
    position: absolute;
    right: 60px;
    top: 150px;
}
.text2{
    align-self: flex-end;
    width: 300px;
    position: absolute;
    bottom: -20px;
    left: 150px;
    
}
.text1{
    position: absolute;
    top: 380px;
    left: 40px;
}
.img3{
    margin: 400px 0 0 200px;
}
.img2{
    margin-left: -15px;
}
